.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: white;
    color: black;
    border-radius: 10px;
    max-width: 1300px;
    margin: 0 auto;
}

.navbar .name {
    font-size: 1.7rem;
    font-weight: bold;
}

.left {
    display: flex;
    gap: 20px;
}

.sus {
    cursor: pointer;
    padding: 5px 10px;
    transition: 0.3s;
}

.sus:hover {
    color: #7f5af0;
}